@import "colors";
@import "utils";
@import "mediaquery";
@import "modals";

.container-main {
  display: grid;
  grid-template-columns: 0.5fr 3.5fr;
  min-height: 100vh;
}
.container-left {
  background-color: $color-primary;
  color: $color-fonts2;

  .container-avatar {
    text-align: center;
    .img-logo {
      width: 100%;
      max-width: 250px;
      min-width: 100px;
      height: 150px;
      margin-top: 30px;
    }
  }
  .container-console {
    margin-top: 30px;
    .radio-sort {
      display: flex;
      flex-direction: column;
    }
  }
  .container-sortBy {
    margin-top: 30px;
  }
}

.container-right {
  background-color: $color-secondary;

  .container-header {
    background-image: linear-gradient(
        180deg,
        #232426 10.2%,
        rgba(35, 36, 38, 0.54) 100%
      ),
      linear-gradient(180deg, rgba(35, 36, 38, 0) 36.78%, #232426 98.82%),
      url("/img/fondo_witcher.jpg");
    background-position: left;
    background-size: cover;

    .header-nav {
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: space-between;
      width: 100%;
      min-height: 50px;
      align-items: center;

      .input-search {
        width: 40%;
        position: relative;

        .icon {
          position: absolute;
          color: #4f5b66;
          top: 25%;
          margin-left: 5px;
        }

        input {
          font-size: 1rem;
          background: #38393b;
          color: $color-fonts2;
          border-radius: 3px;
          border: none;
          width: 100%;
          height: 30px;
          padding-left: 25px;
        }
      }
      .input-search input#search::-webkit-input-placeholder {
        color: #65737e;
        padding-left: 5px;
      }
      .container-menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 60%;
        .menu-bar {
          margin-right: 7px;

          i {
            color: $color-fonts2;
            margin-top: 3px;
          }
        }
        .nav {
          ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
              a {
                text-decoration: none;
                color: $color-fonts2;
                margin-right: 5px;
              }
            }
          }
        }

        .cart {
          margin-right: 5px;
          .cart-button {
            position: relative;
          }
          .number {
            background: red;
            line-height: 1;
            font-size: 1rem;
            color: $color-fonts1;
            border-radius: 50%;
            padding: 0.2rem 0.3rem;
            font-weight: bolder;
            font-family: "Nunito", sans-serif;
            position: absolute;
            right: 12px;
          }
        }
      }
      .menu-cart {
        position: fixed;
        width: 95%;
        height: 100vh;
        right: -100%;
        top: 0px;
        background-color: $color-secondary;
        color: $color-fonts1;
        padding: 10px;
        z-index: 1;
        overflow: auto;
        box-shadow: rgba(0, 0, 0, 70%) 0px 0px 50px;
        transition-property: right;
        transition-duration: 500ms;
        font-family: "Nunito", sans-serif;
        font-weight: 700;

        .you-cart {
          margin-top: 20px;
          font-size: 30px;
        }
        .cart-list {
          #empty {
            margin-top: 20px;
            font-size: 26px;
            text-align: center;
          }
          .container-article {
            display: flex;
            justify-content: space-between;
            border: 2px solid $color-a;
            margin-bottom: 1em;
            padding: 1em;
            border-radius: 5px;
            .article-img {
              width: 35%;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-right: 1em;
              border-radius: 10px;
              img {
                width: 100%;
                height: 80%;
                min-height: 90px;
              }
            }
            .article-info {
              width: 60%;
              .container-amount {
                display: flex;
                align-items: center;
                p {
                  margin-right: 10px;
                }
                button {
                  margin-right: 5px;
                }
              }
            }
            .remove-product {
              width: 5%;
            }
          }
          .container-empty {
            margin-top: 20px;
            text-align: center;
          }
        }
      }
    }
  }

  .header-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 300px;
    .container-slogan {
      margin: 15px 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      .text-1 {
        font-size: 2rem;
        color: white;
        font-weight: bolder;
      }
      .text-2 {
        font-size: 2rem;
        color: #515d69;
        font-weight: bolder;
      }
      .text-3 {
        font-size: 2rem;
        color: $color-a;
        font-weight: bolder;
      }
    }
    .img-info {
      align-self: center;
      img {
        width: 100%;
      }
    }
  }
  .container-product {
    display: grid;
    grid-row-gap: 10px;

    .container-card {
      border: 3px solid $color-a;
      border-radius: 5px;

      .card-img {
        position: relative;
        display: inline-block;
        width: 100%;
        .img-title {
          text-align: center;
          color: #edf1f2;
          font-size: 24px;
          font-weight: bolder;
          font-family: "Oswald", sans-serif;
          display: none;
        }
      }

      .card-info {
        background-color: $color-c;
        font-family: "Nunito", sans-serif;
        font-weight: 700;
        height: 180px;
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .container-price {
          display: flex;
          align-items: flex-end;
          font-size: 1.5rem;
          font-weight: bolder;
          color: $color-fonts1;

          .price {
            font-size: 1.5rem;
            font-weight: bolder;
            color: $color-fonts1;
          }
          .price::before {
            content: "";
            background: $color-a;
            display: block;
            width: 100%;
            height: 5px;
            margin: 0.5rem 0px;
          }
        }
        .container-price::before {
          content: "$";
        }
        .info {
          color: $color-fonts1;
          font-size: 1.2rem;
        }
        .button-buy {
          border-radius: 1.5em;
          width: 250px;
          align-self: center;
          padding: 0.7em 1.87em;
          border: none;
          cursor: pointer;
          background: $color-a;
          color: #edf1f2;
          font-weight: bolder;
          font-size: 1rem;
          i {
            margin-left: 10px;
          }
        }
      }
    }
  }
  .card-img img {
    width: 100%;
    height: 250px;
    vertical-align: top;
  }
  .card-img h2 {
    position: absolute;
    top: 140px;
  }
}
